In [1]:
import numpy as np

## DataTypes & Attributes

In [2]:
# Numpy main datatypes is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([
    [1,2.2,3],
    [4,5,56]
])

a3 = np.array([
    [
        [1,2,3],
        [4,5,6],
        [7,8,9],
    ],
    [
        [10,11,12],
        [13,14,15],
        [16,17,18]
    ]
])

In [5]:
a2

array([[ 1. ,  2.2,  3. ],
       [ 4. ,  5. , 56. ]])

In [6]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [8]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [9]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [10]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [11]:
# create DataFrame from a NumPy array
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1     2
0  1.0  2.2   3.0
1  4.0  5.0  56.0